/*Olivier Laliberté - 2025*/
:root {
  --light-color: #f4f2ef;
  --green: #556149;

  --dark-color: #191f1d;
  --mid-dark: #555a57;
  --shadow: #0005;

  --noise-texture: url(https://i.gyazo.com/a26366e538851a5c569ff648e99b7fd4.png);

  --rainbow: radial-gradient(circle at left top, #ede6bf, #ecc947, #cb5a31, #6f5d79, #4e779a);
  --washed-white: linear-gradient( 180deg, #f4f2ef 0%, #d9d5cf 35%, #b6b1a8 70%, #7a736d 100%);

  --main-transition: all 0.2s ease-in-out;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;

  background: var(--dark-color);
  background-image: var(--noise-texture);
  background-blend-mode: overlay;

  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#left-bar {
  height: 650px;
}

.now-playing {
  color: var(--light-color);
  font-size: 3rem;
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.credits {
  color: var(--light-color);
  font-size: 1.5rem;
  font-family: "Sarina", cursive;
  font-weight: 400;
  font-style: normal;
}

/* #region noise */

.noise-container {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  background-image: linear-gradient(150deg,
      var(--dark-color) 60.2%,
      var(--mid-dark) 60.28%,
      var(--mid-dark) 60.7%,
      var(--dark-color) 60.78%,
      var(--dark-color) 61.4%,
      var(--mid-dark) 61.48%,
      var(--mid-dark) 62.6%,
      var(--dark-color) 62.68%,
      var(--dark-color) 63.4%,
      var(--mid-dark) 63.48%,
      var(--mid-dark) 64.6%,
      var(--dark-color) 64.68%,
      var(--dark-color) 65.4%,
      var(--mid-dark) 65.48%,
      var(--mid-dark) 67.4%,
      var(--dark-color) 67.48%,
      var(--dark-color) 68.4%,
      var(--mid-dark) 68.48%,
      var(--mid-dark) 71.4%,
      var(--dark-color) 71.48%,
      var(--dark-color) 72.4%,
      var(--mid-dark) 72.48%,
      var(--mid-dark) 76.4%,
      var(--dark-color) 76.48%,
      var(--dark-color) 77.4%,
      var(--mid-dark) 77.48%,
      var(--mid-dark) 81.4%,
      var(--dark-color) 81.48%,
      var(--dark-color) 82.4%,
      var(--mid-dark) 82.48%,
      var(--mid-dark) 87.4%,
      var(--dark-color) 87.48%);
}
.noise-container:before {
  content: "";

  height: 100%;
  width: 100%;

  background-image: var(--noise-texture);
  background-repeat: repeat;

  display: flex;

  position: absolute;
  z-index: 3;

  mix-blend-mode: overlay;
  pointer-events: none;
}
.noise-container:after {
  content: "";
  display: flex;
  position: absolute;
  height: 580px;
  width: 960px;
  translate: 0px 0px;
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-size: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 64%;
  z-index: 3;
}

/* #endregion */

/* #region sphere */

.sphere {
  height: 50px;
  width: 50px;
  background-image: var(--rainbow);
  border: 3px solid var(--dark-color);
  transition: all 0.3s;
  border-radius: 50%;
  box-shadow: 0px 0px var(--shadow);

  display: flex;
  align-items: center;
  justify-content: center;
}
.sphere:hover {
  cursor: pointer;
  scale: 1.1;
  box-shadow: 10px 10px var(--shadow);
  transition: var(--main-transition);
}

/* #endregion */

/* #region speaker */

.speaker-container {
  width: 280px;
  height: 305px;

  background: var(--washed-white);

  border-radius: 20px;

  /*Giving it a little 'oomph'*/
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
}

.speaker-big {
  width: 200px;
  height: 200px;

  position: relative;

  /* main light surface + soft dropoff + dark outer ring */
  background: radial-gradient(circle,#f4f2ef 55%, #cfcac3 60%,    #5a5048 62%, #5a5048 100%);

  border: 10px solid var(--green);
  border-radius: 50%;
}
.speaker-big::before {
  content: "";

  position: absolute;

  inset: 55px;

  background: radial-gradient(circle at 40% 35%, #d8d4ce 0%, #6b645e 55%, #3a3a3a 100%);

  border-radius: 50%;
}

.speaker-small {
  width: 50px;
  height: 50px;

  background: radial-gradient(circle, #f4f2ef 40%, #cfcac3 55%, #5a5048 100%);

  border: 10px solid var(--green);
  border-radius: 50%;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

/* #endregion */

/* #region amp */

.amp-container {
  width: 100%;
  height: 150px;

  padding: 20px;

  position: relative;

  background: var(--washed-white);

  border-radius: 20px;

  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
}

.visualizer {
  width: 70%;
  height: 70%;

  border: 10px solid var(--green);
  border-radius: 10px;
}

.amp-knob {
  width: 60px;
  height: 60px;

  background: radial-gradient(circle at 40% 35%, #d9d5cf 0%, #7a736d 55%, #3a3a3a 100%);

  position: relative;

  border-radius: 50%;

  box-shadow: inset 0 4px 6px rgba(0,0,0,0.25), inset 0 -4px 6px rgba(255,255,255,0.1);
}
.amp-knob::after {
  content: "";

  width: 4px;
  height: 14px;

  background: var(--dark-color);

  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 2px;
}

/* #endregion */

/* #region music tracker + zdog */

.zdog-canvas {
  width: 100%;
  height: 60%;

  margin-bottom: 40px;

  cursor: move;
}

.tracker-container {
  width: 70%;
  height: 8px;
  max-width: 500px;

  position: relative;

  background-color: var(--light-color);

  border-radius: 4px;

  overflow: hidden;
}

.tracker-progress {
  width: 0%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--green);

  border-radius: 4px;
}

/* #endregion */

/* #region map-libre */

.map-container {
  width: 100%;
  max-height: 500px;
}

#map {
  width: 100%;
  height: 100%;

  aspect-ratio: 1/1;
}

/* #endregion */

/* #region chart-CSS */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  place-items: center;
}

.grid-item {
  max-width: 50px;
  max-height: 50px;
}


/* #endregion */

@media screen and (max-width: 992px) {
  #left-bar {
    height: 350px;
  }
  .map-container {
    width: 100px;
    height: 100px;
  }
  .map-container {
    max-height: 150px;
    max-width: 150px;
  }
}